.Set1 {
    padding: 20px;
    
}

.Set2 {
    
    padding: 20px;
    
}
.Project{
    padding-top: 0px;
    padding: 20px;
    
}
#outlined-set1{    
    padding: 10px;
}

#outlined-set2{    
    padding: 10px;
}
.PName{
    
    font-size: 10px;
}
.Projects{
    padding: 15px;
}
#b{
    padding: 5px;
}